################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ManagementAPI/CopilotIndices/17.14.698.11175
/.vs/ManagementAPI/FileContentIndex
**/bin/
**/obj/
**/coverage-report/
**/TestResults